@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --border: 0 0% 90%;
    
    /* Logo colors */
    --logo-deep: 177 89% 21%;  /* #0A5E5C in HSL format */
    --logo-mid: 173 76% 36%;   /* #16A396 in HSL format */
    --logo-light: 166 77% 50%;  /* #21DDB8 in HSL format */
    --logo-accent: 0 0% 100%;   /* #FFFFFF in HSL format */
  }
}
